<app-carousel></app-carousel>
<div class="diagram-wrapper">
<app-category-cards category_title="Continue Watching"></app-category-cards>
<app-category-cards media="movie" category="popular" category_title="Popular Movies" type="category"></app-category-cards>
<app-category-cards media="movie" category="top_rated" category_title="Top Rated Movies" type="category"></app-category-cards>
<app-category-cards media="movie" category="trending" category_title="Trending Movies" type="trending"></app-category-cards>
<app-category-cards media="tv" category="popular" category_title="Popular TV" type="category"></app-category-cards>
<app-category-cards media="tv" category="top_rated" category_title="Top Rated TV" type="category"></app-category-cards>
<app-category-cards media="tv" category="trending" category_title="Trending TV" type="trending"></app-category-cards>
</div>
<router-outlet></router-outlet>